{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-8 mt-4 mb-3">
            <h1 class="text-center">La Posada Diarios</h1>
            <hr>
        </div>
    </div>
    <!-- Blog Entries Column -->
    <div class="row justify-content-center">
        {% for post in page_obj %}
        <div class="col-10 col-md-5">
            <div class="card mb-5">
                <div class="card-body">
                    <div class="image-container">
                        {% if "placeholder" in post.image.url %}
                        <img class="card-img-top"
                            src="/static/images/logo.png">
                        {% else %}
                        <img class="card-img-top" src=" {{ post.image.url }}">
                        {% endif %}
                        <div class="image-flash">
                            <p class="author">Author: {{ post.author }}</p>
                        </div>
                    </div>
                    <a href="{% url 'blog_detail' post.slug  %}" class="post-link">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text">{{ post.excerpt }}</p>
                    </a>
                    <hr>
                    <p class="card-text text-muted h6">
                        {{ post.created_on}}
                        <br>
                        <i class="far fa-heart"></i> {{ post.likes_count }} 
                        <i class="far fa-comments"></i> {{ post.comments.count }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="pagination justify-content-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next &raquo;</a>
        {% endif %}
        </span>
    </div>
    <hr>
    <br>
</div>

{%endblock%}