{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid text-center">
    <div class="row d-flex justify-content-center">
        <div class="col-10 col-lg-8 mt-4 mb-3">
            <h1>La Posada</h1>
            <hr>
            <h5><em>The finest tapas dining experience serving authentic Iberian cuisine in the heart of Brighton!</em></h5>
        </div>
    </div>
    <!-- Image carousel -->
    <div class="col-md-8 mx-auto">
        <div class="row">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-interval="5000">
                        <img src="{% static 'images/carousel-image-1.jpg' %}" class="d-block w-100" alt="interior">
                    </div>
                    <div class="carousel-item" data-interval="5000">
                        <img src="{% static 'images/carousel-image-2.jpg' %}" class="d-block w-100" alt="mixed charcuterie">
                    </div>
                    <div class="carousel-item" data-interval="5000">
                        <img src="{% static 'images/carousel-image-3.jpg' %}" class="d-block w-100" alt="iberico pork ribs">
                    </div>
                    <div class="carousel-item" data-interval="5000">
                        <img src="{% static 'images/carousel-image-4.jpg' %}" class="d-block w-100" alt="seafood stew">
                    </div>
                    <div class="carousel-item" data-interval="5000">
                        <img src="{% static 'images/carousel-image-5.jpg' %}" class="d-block w-100" alt="churros">
                    </div>
                    <div class="carousel-item" data-interval="5000">
                        <img src="{% static 'images/carousel-image-6.jpg' %}" class="d-block w-100" alt="wine">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </button>
            </div>
        </div>
        <br>
        <hr>
        <br>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-8 mt-1">
            <p>La Posada is a newly opened restaurant in the heart of Brighton, founded by the highly experienced and passionate chef, José Marquez Blazquez.
                With his extensive culinary expertise and love for Spanish cuisine, Chef José aims to bring the enchanting flavors and vibrant atmosphere from his hometown of Sevilla to your table here at La Posada.</p>
            <p>The menu at La Posada showcases a wide range of classic Spanish tapas dishes, each bursting with exquisite flavors and made from the freshest traditional ingredients. 
                From age-old favorites such as patatas bravas and gambas al ajillo to lesser-known regional specialties, every plate pays homage to the diverse culinary heritage of Spain.</p>
            <p>To complement the delectable cuisine, Chef José has meticulously designed an inviting ambiance. The restaurant's décor features rustic elements, 
                evoking the charming atmosphere of an authentic Spanish tavern, while contemporary touches provide a stylish, modern twist.</p>
            <p>Buen Provecho!</p>
            <hr>
            <br>
        </div>
    </div>
</div>

{%endblock%}