@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');


body {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    color: #212529;
}

.nav-link {
    color: #fff;
}
.nav-link:hover {
    color: #fff;
    text-decoration: underline;
}

.btn-success {
    background-color: #212529;
    color: #fff;
    border: none;
}
.btn-success:hover {
    background-color: #212529;
    color: #fff;
    border: none;
    text-decoration: underline;
}
