@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

body {
    background-color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 110%;
    color: #212529;
}

.nav-link {
    color: #fff;
}
.nav-link:hover {
    color: #fff;
    text-decoration: underline;
}

.btn-success {
    background-color: #212529;
    color: #fff;
    border: none;
}
.btn-success:hover {
    background-color: #212529;
    color: #fff;
    border: none;
    text-decoration: underline;
}
