{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-8 mt-5 mb-5">
            <h1 class="text-center">Drink Menu</h1>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <!-- Beer Drink Items-->
    <div class="col-sm-8">
        <hr><h2>Beers</h2><hr>
        {% for drink in drink_list %}
        {% if drink.drink_type == 0 %}
        <br><h3>{{ drink.drink_name }}</h3>
        <p>£{{ drink.price }}0</p>
        <br>
        {% endif %}
        {% endfor %}
    </div>
</div>
<div class="row justify-content-center">
    <!-- Wine Drink Items-->
    <div class="col-sm-8">
        <hr><h2>Wines</h2><hr>
        {% for drink in drink_list %}
        {% if drink.drink_type == 1 %}
        <br><h3>{{ drink.drink_name }}</h3>
        <p>£{{ drink.price }}0</p>
        <br>
        {% endif %}
        {% endfor %}
    </div>
</div>
<div class="row justify-content-center">
    <!-- Cocktail Drink Items-->
    <div class="col-sm-8">
        <hr><h2>Cocktails</h2><hr>
        {% for drink in drink_list %}
        {% if drink.drink_type == 2 %}
        <br><h3>{{ drink.drink_name }}</h3>
        <p>£{{ drink.price }}0</p>
        <br>
        {% endif %}
        {% endfor %}
    </div>
</div>
{%endblock%}