{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-8 mt-4 mb-3">
            <h1 class="text-center">Tapas Menu</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <!-- Salads & Cold Cuts Items-->
        <div class="col-10 col-lg-8">
            <hr>
            <h2 class="col text-center">Salads & Cold Cuts</h2>
            <hr>
            <div class="row row-cols-2">
                {% for item in tapas_list %}
                {% if item.tapas_type == 0 %}
                <div class="col-12 col-md-6 text-center">
                    <h5>{{ item.tapas_name }}</h5>
                    {{ item.description | safe }} 
                    <p>TAPAS: £{{ item.tapas_price }}0</p>
                    <p>PLATO: £{{ item.plato_price }}0</p>
                    <br>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <!-- Hot Dishes Items-->
        <div class="col-10 col-lg-8">
            <hr>
            <h2 class="col text-center">Hot Dishes</h2>
            <hr>
            <div class="row">
                {% for item in tapas_list %}
                {% if item.tapas_type == 1 %}
                <div class="col-12 col-md-6 text-center">
                    <h5>{{ item.tapas_name }}</h5>
                    {{ item.description | safe }}
                    <p>TAPAS: £{{ item.tapas_price }}0</p>
                    <p>PLATO: £{{ item.plato_price }}0</p>
                    <br>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <!-- Sides Items-->
        <div class="col-10 col-lg-8">
            <hr>
            <h2 class="col text-center">Sides</h2>
            <hr>
            <div class="row">
                {% for item in tapas_list %}
                {% if item.tapas_type == 2 %}
                <div class="col-6 col-md-4 text-center">
                    <h5>{{ item.tapas_name }}</h5>
                    <p>£{{ item.sides_price }}0</p>
                    <br>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <!-- Desserts Items-->
        <div class="col-10 col-lg-8">
            <hr>
            <h2 class="col text-center">Desserts</h2>
            <hr>
            <div class="row row-cols-2">
                {% for item in tapas_list %}
                {% if item.tapas_type == 3 %}
                <div class="col-12 col-md-6 text-center">
                    <h5>{{ item.tapas_name }}</h5>
                    {{ item.description | safe }} 
                    <p>£{{ item.dessert_price }}0</p>
                    <br>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <p class="text-center">Add a variety of ice cream flavours, custard, fresh whipped creme or fruit for £2.00</p>
            <hr>
            <br>
        </div>
    </div>
</div>

{%endblock%}